.WrapperCard{
    width: 220px;
    border: 1px solid black;
}

.ImageCard{
    width: 218px;
    height: 300px;
    display: block;
}

.WrapperText{
    background-color: #FB7F5C;
    height: 80px;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.NameCard{
    color: white;
}

.HouseCard{
    color: white;
}